{% extends "base/index.html" %}

{% block navigation %}

{% endblock %}

{% block search %}
<form action="/location/" class="navbar-form navbar-right" id="searchForm" method="get" onchange="document.getElementById('searchForm').submit()">
    <div class="form-group">
        <input type="text" placeholder="Search by name" class="form-control" name="query">
        <select name="area" class="form-control">
        <p>Or</p>
            <option value="-1">Filter by area</option>
            <option value="0">Botley</option>
            <option value="1">Central</option>
            <option value="2">Cowley</option>
            <option value="3">Headington</option>
            <option value="4">Jericho</option>
            <option value="5">Summertown</option>
        </select>
    </div>
</form>
{% endblock %}
{% block main_content %}
{% endblock %}
